header{
    text-align: center;
    background-color: #bdbdbd;
    height:100px;
    padding: 30px;
    font-size: 31px;
}
header{
    text-align: center;
    background-color: #bdbdbd;
    height:100px;
    padding: 30px;
    font-size: 31px;
}
.shape{
    height:300px;
    text-align: center;
}
.subheader{
    text-align: center;
    background-color: #BDBDE3;
    height: 35px;
    padding: 4px;
    font-size: 20px;
}
.top-margin{
    margin-top:20px;
}
input{
    text-align: center;
}
